<!-- navbar -->
<nav class="navbar bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="https://icon-library.com/images/bank-icon-png/bank-icon-png-4.jpg" style="height: 36px; width:38px">
          Zest Bank
      </a>
  </div>
</nav>

<!-- login form -->
<div class="container">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="row" style="padding-left: 55px;">

      <div class="col-6">
          <img src="https://rurutek.com/jio/assets/img/login-animate.gif" style="height: 500px;" alt="">
      </div>
      <div class="col-6" style="padding-top: 80px; width:400px">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Account Number</label>
              <input type="text" name="acno" formControlName="acno" class="form-control" id="" aria-describedby="">
              <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger">*Invalid Account Number</div>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password"  name="password" formControlName="password" class="form-control" id="exampleInputPassword1">
              <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="text-danger">*Invalid Password</div>
          </div>
          <br>
          <h6 class="text-danger">{{loginError}}</h6>
          <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div><br>
          <h6 *ngIf="loginSuccess"><span style="color: blue;">Loading...Please wait    </span><div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div></h6>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="reg">
            <span>First Time User?</span><span class="re"><a routerLink="register">Register Here</a></span>
        </div>
        </div>
      
  </div></form>
</div>

<!-- footer -->
<footer class="bg-primary text-center text-white">
  


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
  </div>
  <!-- Copyright -->
</footer>