<app-delete-acno [deleteAcno]="acno" (onCancel)="cancelDeleteConfirm()" (onDelete)="deleteFromParent()"></app-delete-acno>

<div *ngIf="deleteSuccessMsg">
<h1>{{deleteSuccessMsg}}</h1>
</div>

<div *ngIf="!deleteConfirmStatus">
<!-- NavBar -->
<nav class="navbar navbar-expand-lg bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://icon-library.com/images/bank-icon-png/bank-icon-png-4.jpg" style="height: 36px; width:38px">
            Zest Bank
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto me-5" style="padding: 10px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Loans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="getBalance()" data-bs-toggle="offcanvas" href="#offcanvasExample"><i class="fa-solid fa-indian-rupee-sign"></i> Balance Enquiry</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="fa-solid fa-money-bill-transfer"></i> Fund Transfer</a></li>
              <li><a routerLink="/transactions" class="dropdown-item" href="#"><i class="fa-solid fa-clock-rotate-left"></i> Transaction History</a></li>
              <li><a class="dropdown-item" (click)="deleteAccount()" ><i class="fa-solid fa-user-xmark"></i> Remove Account</a></li>
              <li><a class="dropdown-item" (click)="logout()" ><i class="fa-solid fa-right-from-bracket"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  <div *ngIf="logoutSuccess" class="container text-center mt-5">
    <h1>Logging Out....please wait<div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div></h1>
    </div>
 



  
<!-- Modal -->
<form (ngSubmit)="dashboardform()" [formGroup]="fundForm" >
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Fund Transfer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
  <input type="text" name="acno" formControlName="acno" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Credit Account Number </label>
  <div *ngIf="this.fundForm.get('acno')?.errors&&this.fundForm.get('acno')?.touched" class="text-danger">*Invalid Account Number</div>
</div>
 <div class="form-floating mb-3">
  <input type="text" name="amt" formControlName="amt" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Amount</label>
  <div *ngIf="this.fundForm.get('amt')?.errors&&this.fundForm.get('amt')?.touched" class="text-danger">*Invalid Amount</div>
</div>
<div class="form-floating">
  <input type="password" name="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
  <div *ngIf="this.fundForm.get('password')?.errors&&this.fundForm.get('password')?.touched" class="text-danger">*Invalid Password</div>
</div>
      </div>
      <div class="text-success fw-bolder text-center mx-2" >{{transferSuccess}}</div>
      <div class="text-danger fw-bolder text-center mx-2">{{transferError}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" (click)="dashboardform()" class="btn btn-primary">Transfer</button>
        <button type="button" (click)="reset()"class="btn btn-danger" >Reset</button>
      </div>
    </div>
  </div>
</div></form>

  <!--  off campus-->
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <img width="100%" height="100px" src="https://media.tenor.com/geDuLrWdi0gAAAAC/gold-coin.gif" >
    <div>
    <h1>Hello {{user}}</h1>
    <h5>Your current balance is: <span class='text-success'>{{balance}}</span> </h5>
    </div>
    
  </div>
</div>

<!-- main-content -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://wrhouse.in/my-assets/public/backend/assets/images/qcash.gif" alt="">
            
        </div>
        <div class="col-6">
            <div class="a my-5">
            <!-- heading and texts -->
            <h1>Welcome {{user}}</h1>
            <p style="text-align: justify;">Online banking allows you to conduct financial transactions via the Internet.
                 Online banking is also known as Internet banking or web banking. Online banking 
                 offers customers almost every service traditionally available through a local branch
                  including deposits, transfers, and online bill payments.</p>
                  <div class="collapse" id="collapseExample">
                    
                      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    
                  </div>
                  <button (click)="collapse()" class="btn btn-info"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" >Read
                    <span *ngIf="!iscollapse"> More</span>
                    <span *ngIf="iscollapse"> Less</span>
                </button></div>
        </div>
    </div>
  </div>

  <!-- footer -->
<footer class="bg-primary text-center text-white">
  


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
    </div>
    <!-- Copyright -->
  </footer>
</div>